<div class="address-form">
    <form action="/addAddress">
        Address: <input name="address" id="address" placeholder="Enter address or Zip code">
        <button type="submit">Submit</button>
    </form>
</div>