body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/1.jpg") center fixed;
  background-size: cover;
  color: white;
}

a {
  color: #00B7FF;
}
figure {
  margin: 3em auto;
  width: 368px;
  height: 152px;
}
canvas {
  display: block;
  float: left;
  margin-left: 8px;
  margin-top: 8px;
}